.interest-type-value {
    padding: 3px 6px 3px 6px;
    color: rgb(244, 249, 253);
}

.interest-type-sport {
    background-color: rgb(25, 136, 100);
}

.interest-type-game {
    background-color: rgb(86, 25, 136)
}

.interest-type-unknown {
    background-color: darkgray;
}

.interest-size-small {
    font-size: 10px
}

.interest-size-normal {
    font-size: 14px;
}
