.type-badge {
    padding: 3px 6px 3px 6px;
    color: rgb(244, 249, 253);
}

.type-badge-type-1 {
    background-color: rgb(25, 136, 100);
}

.type-badge-type-2 {
    background-color: rgb(86, 25, 136)
}

.type-badge-type-3 {
    background-color: rgb(200, 37, 154);
}

.type-badge-type-unknown {
    background-color: darkgray;
}

.type-badge-size-small {
    font-size: 10px;
}

.type-badge-size-normal {
    font-size: 14px;
    padding: 3px 12px 3px 12px;
}
